{{ define "about" }}
{{ template "cabecera" }}
    <div class="about">
        <p>Curso</p>
        <p>Organización de Lenguajes y Compiladores 2</p>
        <p>Proyecto</p>
        <p>DB-RUST v1</p>
        <p>Nombre</p>
        <p>Marco Antonio Fidencio Chávez Fuentes</p>
        <p>Carné</p>
        <p>201020831</p>
    </div>
{{ end }}