{{ define "cabecera" }}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>DB-RUST</title>
	<style>
		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}

		body {
			width: 100vw;
			height: 100vh;
			background-color: black;
			color: white;
			overflow-y: hidden;
			padding: 10px;
			display: grid;
			place-content: center;
		}

        .menu__container {
            width: calc(100vw - 40%);
            margin: auto;
            background: #1c1c1c;
            border-radius: 10px;
            margin-bottom: 10px;
            box-sizing: content-box;
            position: fixed;
            top: 10px;
            left: calc((100vw - 40%) / 3);
        }

		.menu {
			display: flex;
			justify-content: center;
		}

		.item {
			list-style: none;
			margin: 0 10px;
		}

		.link {
			cursor: pointer;
			border-radius: 4px;
			padding: 10px 15px;
			display: block;
			background: #1c1c1c;
            text-decoration: none;
            color: white;
		}

		.link:hover,
		.link:active {
			filter: brightness(1.75);
		}

		form {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			gap: 20px;
		}

		textarea {
			min-height: 600px;
			min-width: 400px;
			box-shadow: 1px 1px 10px -1px #1e1e1e1e;
			flex: 2;
			background: #1c1c1c;
			color: #fff;
			tab-size: 2;
		}

		button {
			padding: 0.7em 1em;
			background: #e1b830;
			border: none;
			color: black;
		}

        .about {
            display: grid;
            grid-template-columns: .5fr 1fr;
            gap: 20px;
            background: #1c1c1c;
            padding: 20px;
            border-radius: 10px;
            font-family: 'Courier New', Courier, monospace;
        }

        .about p:nth-child(2n - 1) {
            font-weight: bold;
            color: #e1b830;
            font-size: large;
        }

        .about p:nth-child(2n) {
            font-weight: lighter;
            font-size: medium;
        }
	</style>
</head>

<body>
	<header>
		<nav class="menu__container">
			<ul class="menu">
				<li class="item">
					<a class="link" href="/">Editor</a>
				</li>
				<li class="item">
					<a class="link" href="/about">Acerca De</a>
				</li>
			</ul>
		</nav>
	</header>
{{ end }}